body {
    font-family: 'Ubuntu', sans-serif;
    background-image: url(./assets/background.png);

    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.leftSide {
    width: 50%;
}

.rightSide {
    width: 50%;
    background-color: white;
    height: 100vh;
    background-color: white;
}

.rightSideContainer {
    margin: 2%;
}

.upperRightSide {
    background-color: gray;
}

.midRightSide {
    background-color: lightgray;
}

.lowerRightSide {
    background-color: lightblue;
}