body {
    font-family: 'Ubuntu', sans-serif;
    background-image: url(./assets/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.leftSide {
    width: 50%;
    height: 100%;
}

.rightSide {
    width: 50%;
    background-color: white;
    height: 100%;
}

.rightSideContainer {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.upperRightSide {
    height: 20%;
    /* background-color: gray; */
    /* text-align: center; */
    text-transform: lowercase;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 5%;
}

.midRightSide {
    height: 50%;
    background-color: rgb(94, 117, 91);
    box-shadow: 05px 7px 5px rgba(0, 0, 0, 0.552);
    border-radius: 10px;
    color: rgb(198, 229, 184);
    display: flex;
    flex-direction: column;
}

.midRightSide>h2 {
    padding-top: 2%;
    padding-bottom: 7%;
    padding-left: 5%;
    text-align: start;
    font-size: 2rem;
}

form {
    padding: 0% 5%;
    display: flex;
    justify-content: space-between;
}

input {
    border: none;
    border-radius: 10px;
    height: 1.3rem;
}

label {
    padding: 10px 0px;
}

.formLeft {
    width: 45%;
    display: flex;
    flex-direction: column;
}

.formRight {
    width: 45%;
    display: flex;
    flex-direction: column;
}

.lowerRightSide {
    padding: 5%;
    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

button {
    height: 2rem;
    border-radius: 10px;
    border: 0.1px solid rgb(104, 151, 104);
    background-color: rgb(94, 117, 91);
    color: rgb(198, 229, 184);
    width: 150px;
    margin-top: 50px;
    cursor: pointer;
    margin-bottom: 15px;
    font-size: 0.9rem;
    transition: transform 0.3s;
}

button:hover {
    transform: scale(1.03);
}